<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<display-name>JODConverter</display-name>
	<description>JODConverter Sample Web Application</description>

	<context-param>
		<param-name>fileupload.fileSizeMax</param-name>
		<param-value>5242880</param-value><!-- 5MB -->
	</context-param>

    <!-- uncomment and edit if needed -->
    <!--
    <context-param>
      <param-name>office.port</param-name>
      <param-value>8100</param-value>
    </context-param>
    <context-param>
      <param-name>office.home</param-name>
      <param-value>/opt/openoffice.org3</param-value>
    </context-param>
    <context-param>
      <param-name>office.profile</param-name>
      <param-value>/home/converter/.openoffice.org/3</param-value>
    </context-param>
    -->

	<listener>
		<listener-class>org.jodconverter.sample.web.WebappContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>ConverterServlet</servlet-name>
		<servlet-class>org.jodconverter.sample.web.ConverterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConverterServlet</servlet-name>
		<url-pattern>/converted/*</url-pattern>
	</servlet-mapping>

</web-app>