<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Creation of all the required filters we want to add to the filter chain. -->
    <bean id="pagesSelectorFilter" class="org.jodconverter.filter.PagesSelectorFilter">
        <!-- Page we want to convert -->
        <constructor-arg value="2" />
    </bean>
    
	<!-- Configure the filter chain that will be used while converting a document. 
		The id of the bean is important here since we search for the filter chain 
		using this id. -->
	<bean id="filterChain" class="org.jodconverter.filter.DefaultFilterChain">
		<constructor-arg>
			<list>
				<ref bean="pagesSelectorFilter" />
			</list>
		</constructor-arg>
	</bean>

</beans>