<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Creation of all the required filters we want to add to the filter chain. -->
	<bean id="noopFilter1" class="org.jodconverter.local.filter.NoopFilter">
	</bean>
	<bean id="graphicInserterFilter" class="org.jodconverter.local.filter.text.GraphicInserterFilter">
		<!-- Path to the image -->
		<constructor-arg value="src/integTest/resources/images/sample-1.jpg" />
		<!-- Arguments related to the added box size and position -->
		<constructor-arg value="50" />  <!-- Horizontal Position, 5 CM -->
		<constructor-arg value="111" /> <!-- Vertical Position, 11.1 CM (just under text box) -->
	</bean>
	<bean id="noopFilter2" class="org.jodconverter.local.filter.NoopFilter">
	</bean>

	<!-- Configure the filter chain that will be used while converting a document. 
		The id of the bean is important here since we search for the filter chain 
		using this id. The filters will be executed according to the order specified 
		here in the filter chain. -->
	<bean id="filterChain" class="org.jodconverter.local.filter.DefaultFilterChain">
		<constructor-arg>
			<list>
				<ref bean="noopFilter1" />
				<ref bean="graphicInserterFilter" />
				<ref bean="noopFilter2" />
			</list>
		</constructor-arg>
	</bean>

</beans>