<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Creation of all the required filters we want to add to the filter chain. -->
	<bean id="textInserterFilter" class="org.jodconverter.filter.text.TextInserterFilter">
		<!-- Text to insert -->
		<constructor-arg value="text to insert" />
		<!-- Arguments related to the added box size and position -->
		<constructor-arg value="100" /> <!-- Width, 10 CM -->
		<constructor-arg value="10" />  <!-- Height, 1 CM -->
		<constructor-arg value="50" />  <!-- Horizontal Position, 5 CM -->
		<constructor-arg value="100" /> <!-- Vertical Position, 10 CM -->
	</bean>
	<bean id="graphicInserterFilter" class="org.jodconverter.filter.text.GraphicInserterFilter">
		<!-- Path to the image -->
		<constructor-arg value="src/test/resources/images/sample-1.jpg" />
		<!-- Arguments related to the added box size and position -->
		<constructor-arg value="50" />  <!-- Horizontal Position, 5 CM -->
		<constructor-arg value="111" /> <!-- Vertical Position, 11.1 CM (just under text box) -->
	</bean>
	<bean id="textReplacerFilter" class="org.jodconverter.filter.text.TextReplacerFilter">
		<constructor-arg name="searchList">
			<list>
				<value>text</value>
				<value>to insert</value>
			</list>
		</constructor-arg>
		<constructor-arg name="replacementList">
			<list>
				<value>Text</value>
				<value>describing the image below</value>
			</list>
		</constructor-arg>
	</bean>
	<bean id="refreshFilter" class="org.jodconverter.filter.RefreshFilter" />

	<!-- Configure the filter chain that will be used while converting a document. 
		The id of the bean is important here since we search for the filter chain 
		using this id. The filters will be executed according to the order specified 
		here in the filter chain. -->
	<bean id="filterChain" class="org.jodconverter.filter.DefaultFilterChain">
		<constructor-arg>
			<list>
				<ref bean="textInserterFilter" />
				<ref bean="graphicInserterFilter" />
				<ref bean="textReplacerFilter" />
				<ref bean="refreshFilter" />
			</list>
		</constructor-arg>
	</bean>

</beans>